<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stressfreeroads.gradproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileManager" />
        <activity android:name=".Signup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapHomePage">
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="D4G0YrxzRWqvoyU6OUzq" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="VrQVTyHnfx0Nn8YnXOqeLQ" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="HyfZTxDhzYyPnC3JbulZ+PLHn71hBcNXhe/gjiS9iJif0Fsa0tVyi8DVP15S7qKmfKeuf87Krn/y8Yfq4fG3ExKX5JECn/wl8uIEDRzR1fa/SUv40Rcu15m7h5friZ+OS2c7tMdcXoUf9NBt3fmVKuBq5El1Hq/4cVmeTSxkwO0NTZW4ZrkDOy6XgiQAvkkZkI69yQq+5PllHzMfqW1uw7jwvgk5b7o1wuIL7fbeMDzSc0awGksxgp7GSt7mzV1MQPG8OFNTqeXKeik2Bidvf8GDpRmmyE/rdwaowLTS8vQKlkyQ32i3D6kIb9mwSm3wFdSfMnTn9aA1SYpsQ9ZrVLGairPEiDdhpDFjYwIhjfvhAChMC1hy+4G2K0EGvlii1wga47TGDuvkfqeAiVGeRM6IGIibFL5enwkQEpT/cmf2YEGrFhILMM1UcISZcobj1EbLTdqf4ifyy76aB+v6JnE4Lw3ZvtiwBjH6PmzEB48GbMaf5/8Z0gxwbxXoy69YttMpCGZQwCHPIhJWSO6GyKYMxJxlfbVZlIUo9+4kdbshOODsI2IrgJjV5RORcn2LuP6wOxaQkxmT7zK1qLabhXZbbH23RbmvsphEq2FFanD4LhI4THtcldQXOsDqnpPg1RK78Feeu03OQes9ug6qasJkx7DXCkFK+AGp/+cSnb0=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3"></action>
            </intent-filter>
        </service>
    </application>

</manifest>